<div class='middle'>
  <div class='middleWrapper'>
    <div class='title'>
      <h1>GALLERY</h1>
    </div>
    <div class='galleryWrapper'>
      <div class='galleryContents'>
        <div class='galleryContent'>
          <img src="images/112550_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/212482_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/401914_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/537370_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/1096564_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/1656952_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/1982551_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/3159893_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/3249431_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/3286822_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/3718632_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/3744612_s.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/akanesaya0I9A3747_TP_V4.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/tdog17030718_TP_V4.jpg" alt="店内" class='galleryImageIn'>
        </div>
        <div class='galleryContent'>
          <img src="images/yuka522052_TP_V4.jpg" alt="店内" class='galleryImageIn'>
        </div>
      </div>
    </div>
    <div class='more'>
      <a href="#" class='moreLink'>もっと見る</a>
    </div>
  </div>
</div>