<div class='middle'>
  <div class='middleWrapper'>
    <div class='title'>
      <h1>MENU</h1>
    </div>
    <div class='middlePrice'>
      <div class='priceWrapper'>
        <div class='wrapperBig'>
          <div class='wrapperSmall'>
            <div class='left'>
              <div class='leftContent'>
                <p class='menuText bold'>カット</p>
                <p class='menuText color bold'>シャンプー、ブロー含む</p>
              </div>
              <div class='leftContent'>
                <p class='menuText bold'>一般</p>
                <p class='menuText bold'>学生</p>
                <p class='menuText bold'>小学生まで</p>
                <p class='menuText bold'>前髪のカット</p>
              </div>
              <div class='leftContent'>
                <p class='menuText'>¥5,000-</p>
                <p class='menuText'>¥4,000-</p>
                <p class='menuText'>¥3,500-</p>
                <p class='menuText'>¥1,000-</p>
              </div>
            </div>
            <div class='right'>
              <div class='rightContent'>
                <p class='menuText bold'>カラー</p>
                <p class='menuText bold'>パーマ</p>
                <p class='menuText bold'>ストレートパーマ</p>
                <p class='menuText bold'>セット</p>
                <p class='menuText bold'>オリジナルヘッドスパ</p>
              </div>
              <div class='rightContent'>
                <p class='menuText'>¥5,000～¥9,000</p>
                <p class='menuText'>¥5,000～¥15,000</p>
                <p class='menuText'>¥5,000～¥15,000</p>
                <p class='menuText'>¥3,000～¥4,000</p>
                <p class='menuText'>¥4,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>