<div class='middle'>
  <div class='middleWrapper'>
    <div class='title'>
      <h1>STAFF</h1>
    </div>
    <div class='staffContents'>
      <div class='staffContentsWrapper'>
        <div class='staffContent'>
          <div class='staffImage'>
            <img src="images/112409_s.jpg" alt="店内" class='staffImageIn'>
          </div>
          <div class='staffInform'>
            <p class='staffText'>ヘア・サロ代</p>
            <p class='staffText color'>スタイリスト</p>
          </div>
        </div>
        <div class='staffContent'>
          <div class='staffImage'>
            <img src="images/011.jpg" alt="店内" class='staffImageIn'>
          </div>
          <div class='staffInform'>
            <p class='staffText'>切ら・ない男</p>
            <p class='staffText color'>事務</p>
          </div>
        </div>
        <div class='staffContent'>
          <div class='staffImage'>
            <img src="images/774120_s.jpg" alt="店内" class='staffImageIn'>
          </div>
          <div class='staffInform'>
            <p class='staffText'>ヘア・サロ美</p>
            <p class='staffText color'>スタイリスト</p>
          </div>
        </div>
        <div class='staffContent'>
          <div class='staffImage'>
            <img src="images/1462147_s.jpg" alt="店内" class='staffImageIn'>
          </div>
          <div class='staffInform'>
            <p class='staffText'>ヘア・サロ太</p>
            <p class='staffText color'>スタイリスト</p>
          </div>
        </div>
        <div class='staffContent'>
          <div class='staffImage'>
            <img src="images/3744974_s.jpg" alt="店内" class='staffImageIn'>
          </div>
          <div class='staffInform'>
            <p class='staffText'>汗・かき男</p>
            <p class='staffText color'>スタイリスト</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>