<header>
  <div class='headerWrapper'>
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        <div class='headerMenuH'>
          <ul class='headerMenuInH'>
            <a href="#"><li class='headerListH'>Salonguide</li></a>
            <a href="#"><li class='headerListH'>Menu</li></a>
            <a href="#"><li class='headerListH'>Staff</li></a>
            <a href="#"><li class='headerListH'>Gallery</li></a>
            <a href="#"><li class='headerListH'>Access</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div class='headerLogo'>
      <img src="images/sample_logo.jpg" alt="logo" class='headerLogoIn'>
    </div>
    <div class='headerMenu'>
      <ul class='headerMenuIn'>
        <a href="#"><li class='headerList'>Salonguide</li></a>
        <a href="#"><li class='headerList'>Menu</li></a>
        <a href="#"><li class='headerList'>Staff</li></a>
        <a href="#"><li class='headerList'>Gallery</li></a>
        <a href="#"><li class='headerList'>Access</li></a>
      </ul>
    </div>
    <div class='headerContact'>
      <a href="#">
        <div class='contactWrapper'>
          <p class='contactText'>WEB予約はこちら</p>
          <p class='contactText contactTextTell'>tel: 01-2345-6789</p>
        </div>
      </a>
    </div>
  </div>
</header>

<div class='middle'>
  <div class='middleWrapper'>
    <div class='title'>
      <h1>SALONGUIDE</h1>
    </div>
    <div class='middleImage'>
      <img src="images/112304_s.jpg" alt="店内" class='middleImageIn'>
    </div>
    <div class='middleInform'>
      <p class='informText'>白を基調としたインテリアと</p>
      <p class='informText'>かわいらしいグリーンに囲まれながら</p>
      <p class='informText'>待合いスペースに設置したソファにお掛けいただき</p>
      <p class='informText'>ゆったりとした時間をおたのしみください。</p>
    </div>
  </div>
</div>

<footer>
  <div class='footerWrapper'>
    <div class='footerLogo'>
      <img src="images/sample_logo.jpg" alt="logo" class='footerLogoIn'>
    </div>
    <div class='footerMenu'>
      <ul class='footerMenuContents'>
        <a href="#"><li class='footerList'>トップ</li></a>
        <a href="#"><li class='footerList'>サロンガイド</li></a>
        <a href="#"><li class='footerList'>メニュー</li></a>
        <a href="#"><li class='footerList'>スタッフ</li></a>
        <a href="#"><li class='footerList'>ギャラリー</li></a>
        <a href="#"><li class='footerList'>アクセス</li></a>
      </ul>
    </div>
    <div class='links'>
      <a href="#" class='footerLink noIcon'>WEB予約</a>
      <a href="#" class='footerLink'><i class="fab fa-twitter"></i></a>
      <a href="#" class='footerLink'><i class="fab fa-instagram"></i></a>
      <a href="#" class='footerLink'><i class="fab fa-facebook"></i></a>
    </div>
    <div class=footerMark>
      <small>&copy;tomozQoo Sample</small>
    </div>
  </div>
</footer>